version: 2
updates:
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "daily"
  groups:
    gomod:
      patterns:
        - "*"

- package-ecosystem: "gomod"
  directory: "/components/btp-service-broker"
  schedule:
    interval: "daily"
  groups:
    gomod:
      patterns:
        - "*"

- package-ecosystem: "docker"
  directory: "/"
  schedule:
    interval: "daily"

- package-ecosystem: "docker"
  directory: "/components/btp-service-broker"
  schedule:
    interval: "daily"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
