apiVersion: cert.gardener.cloud/v1alpha1
kind: Certificate
metadata:
  name: korifi-api-ingress-cert
  namespace: korifi
spec:
  commonName: "{{ .CFDomain }}"
  dnsNames:
  - "cfapi.{{ .CFDomain }}"
  - "*.apps.{{ .CFDomain }}"
  secretRef:
    name: korifi-api-ingress-cert
    namespace: korifi
---
apiVersion: cert.gardener.cloud/v1alpha1
kind: Certificate
metadata:
  name: korifi-workloads-ingress-cert
  namespace: korifi
spec:
  commonName: "{{ .CFDomain }}"
  dnsNames:
  - "*.apps.{{ .CFDomain }}"
  secretRef:
    name: korifi-workloads-ingress-cert
    namespace: korifi
---
apiVersion: cert.gardener.cloud/v1alpha1
kind: Certificate
metadata:
  name: korifi-api-internal-cert
  namespace: korifi
spec:
  commonName: korifi-api-svc.korifi
  dnsNames:
  - korifi-api-svc.korifi.svc.cluster.local
  isCA: true
  issuerRef:
    name: kim-snatch-kyma
    namespace: kyma-system
  secretRef:
    name: korifi-api-internal-cert
    namespace: korifi
---
apiVersion: cert.gardener.cloud/v1alpha1
kind: Certificate
metadata:
  name: korifi-controllers-webhook-cert
  namespace: korifi
spec:
  commonName: korifi-controllers-webhook-service.korifi
  dnsNames:
  - korifi-controllers-webhook-service.korifi.svc
  - korifi-controllers-webhook-service.korifi.svc.cluster.local
  isCA: true
  issuerRef:
    name: kim-snatch-kyma
    namespace: kyma-system
  secretRef:
    name: korifi-controllers-webhook-cert
    namespace: korifi
---
apiVersion: cert.gardener.cloud/v1alpha1
kind: Certificate
metadata:
  name: korifi-kpack-image-builder-webhook-cert
  namespace: korifi
spec:
  commonName: korifi-kpack-image-builder-webhook-service.korifi
  dnsNames:
  - korifi-kpack-image-builder-webhook-service.korifi.svc
  - korifi-kpack-image-builder-webhook-service.korifi.svc.cluster.local
  isCA: true
  issuerRef:
    name: kim-snatch-kyma
    namespace: kyma-system
  secretRef:
    name: korifi-kpack-image-builder-webhook-cert
    namespace: korifi
---
apiVersion: cert.gardener.cloud/v1alpha1
kind: Certificate
metadata:
  name: korifi-statefulset-runner-webhook-cert
  namespace: korifi
spec:
  commonName: korifi-statefulset-runner-webhook-service.korifi
  dnsNames:
  - korifi-statefulset-runner-webhook-service.korifi.svc
  - korifi-statefulset-runner-webhook-service.korifi.svc.cluster.local
  isCA: true
  issuerRef:
    name: kim-snatch-kyma
    namespace: kyma-system
  secretRef:
    name: korifi-statefulset-runner-webhook-cert
    namespace: korifi
