apiVersion: dns.gardener.cloud/v1alpha1
kind: DNSEntry
metadata:
  annotations:
    # Let Gardener manage this DNS entry.
    dns.gardener.cloud/class: garden
  name: cf-api-ingress
  namespace: korifi
spec:
  dnsName: cfapi.{{ .CFDomain }}
  ttl: 600
  targets:
  - {{ .KorifiIngressHost }}
---
apiVersion: dns.gardener.cloud/v1alpha1
kind: DNSEntry
metadata:
  annotations:
    # Let Gardener manage this DNS entry.
    dns.gardener.cloud/class: garden
  name: cf-apps-ingress
  namespace: korifi
spec:
  dnsName: "*.apps.{{ .CFDomain }}"
  ttl: 600
  targets:
  - {{ .KorifiIngressHost }}
