{{ define "twuniDNSEntry" }}
---
apiVersion: dns.gardener.cloud/v1alpha1
kind: DNSEntry
metadata:
  annotations:
    # Let Gardener manage this DNS entry.
    dns.gardener.cloud/class: garden
  name: twuni-ingress
  namespace: cfapi-system
spec:
  dnsName: {{ .TwuniDomain }}
  ttl: 600
  targets:
  - {{ .IngressHost }}
{{ end }}