name: Release Draft Workflow

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

env:
  REGISTRY: ghcr.io

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/cache@v5
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - uses: actions/setup-go@v6
      with:
        go-version: 'stable'
    - name: Run linters
      run: make lint

  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - uses: actions/cache@v5
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - uses: actions/setup-go@v6
      with:
        go-version: 'stable'

    - name: Create Kind Cluster
      uses: helm/kind-action@v1.13.0
      with:
        config: ./development/assets/kind-config.yaml
        cloud_provider: true
        cluster_name: cfapi

    - uses: alexellis/arkade-get@master
      with:
        kubectl: latest
        helm: latest
        k9s: latest

    # Enable tmate debugging of manually-triggered workflows if the input option was provided
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v3
      with:
        detached: true
      if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}

    - name: Run tests
      run: make test CI_MODE=true

  create-draft-release:
    runs-on: [ ubuntu-latest ]

    permissions:
      contents: write
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: set version
        run: echo "version=${GITHUB_REF_NAME#v}" >> $GITHUB_OUTPUT
        id: version

      - name: prepare release artifacts
        env:
          VERSION: ${{ steps.version.outputs.version }}
        run: |
          make release VERSION=${VERSION} REGISTRY=${REGISTRY}

      - name: Create draft release
        env:
          VERSION: ${{ steps.version.outputs.version }}
          GITHUB_TOKEN: ${{ github.token }}
        shell: bash
        run: |
          gh release create "${VERSION}" --draft --title "${VERSION}"

      - name: Upload release artifacts
        env:
          VERSION: ${{ steps.version.outputs.version }}
          GITHUB_TOKEN: ${{ github.token }}
        shell: bash
        run: |
          gh release upload "${VERSION}" "./release/${VERSION}/cfapi/cfapi-default-cr.yaml"
          gh release upload "${VERSION}" "./release/${VERSION}/cfapi/cfapi-operator.yaml"
